# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
web-build/
dist/
**/expo-env.d.ts

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/*.iml

# iOS
ios/build/
ios/Pods/
ios/DerivedData/
ios/*.xcuserdatad
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/.xcode.env.local

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# TypeScript
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Logs
logs
*.log

# Cache
.cache/
.eslintcache

# Temporary files
*.swp
*.swo